---
// Components
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import LatestPosts from '../components/LatestPosts.astro';
import InfoBaner from '../components/InfoBaner.astro';
import PrimaryTopics from '../components/PrimaryTopics.astro';
import FAQ from '../components/FAQ.astro';
import CardsContainer from '../components/CardsContainer.astro';
import ImageTextCard from '../components/ImageTextCard.astro';

// Consts
import { SITE_TITLE, SITE_DESCRIPTION, SITE_LANG } from '../config/site.consts';
import { HERO_CONFIG } from '../config/hero.consts';
import { MENU_LINKS, SUBMENU_LINKS, TITLE } from '../config/header.consts';
import { LATESTS_POSTS_TITLE, AMOUNT } from '../config/latestPosts.consts';
import { INFO_TEXT, INFO_BG } from '../config/info.consts';
import { TOPICS_LIST, TOPICS_TITLE } from '../config/topics.consts';
import { FAQ_CONTENT } from '../config/faq.consts';
import { CARD_CONTENT } from '../config/cards.consts';
import { FOOTER_CONTENT } from '../config/footer.consts';
import { IMAGE_TEXT_CONTENT } from '../config/imagecard.consts';
---

<!doctype html>
<html lang={SITE_LANG}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full bg-light-bg dark:bg-dark-bg family">
    <Header title={TITLE} links={MENU_LINKS} submenu={SUBMENU_LINKS} />
    <main class="flex flex-col items-center justify-center">
      <Hero
        h1={HERO_CONFIG.h1}
        h2={HERO_CONFIG.h2}
        backgroundImage={HERO_CONFIG.backgroundImage}
        button_1={HERO_CONFIG.button_1}
        button_2={HERO_CONFIG.button_2}
      />

      <LatestPosts amount={AMOUNT} title={LATESTS_POSTS_TITLE} />
      <InfoBaner text={INFO_TEXT} backgroundImage={INFO_BG} />
      <PrimaryTopics topics={TOPICS_LIST} title={TOPICS_TITLE} />
      <FAQ {...FAQ_CONTENT} />
      <CardsContainer {...CARD_CONTENT} />
      <ImageTextCard {...IMAGE_TEXT_CONTENT} />
      <Footer {...FOOTER_CONTENT} />
    </main>
  </body>
</html>
