---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from "../config/site.consts"
import { HERO_CONFIG } from '../config/hero.consts';
import { MENU_LINKS, SUBMENU_LINKS, TITLE } from '../config/header.consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="w-full">
		<Header title={TITLE} links={MENU_LINKS} submenu={SUBMENU_LINKS}/>
		<main>
			<Hero 
      h1={HERO_CONFIG.h1} 
      h2={HERO_CONFIG.h2} 
      backgroundImage={HERO_CONFIG.backgroundImage}
      button_1={HERO_CONFIG.button_1}
      button_2={HERO_CONFIG.button_2} />
		</main>
	</body>
</html>
