---
// src/components/Footer.astro
export interface FooterLink {
  text: string;
  href: string;
  target?: '_blank' | '_self' | '_parent' | '_top';
}

export interface FooterProps {
  brandName: string;
  brandDescription: string;
  rssLink?: string;
  legalLinks: FooterLink[];
  contactLinks: FooterLink[];
  copyrightName: string;
}

const {
  brandName,
  brandDescription,
  rssLink,
  legalLinks,
  contactLinks,
  copyrightName,
} = Astro.props as FooterProps;
---

<footer
  className="bg-slate-50 text-light-text py-10 w-full dark:bg-dark-surface dark:text-dark-text family"
>
  <div
    className="container mx-auto px-4 flex flex-col md:flex-row justify-between items-start gap-8 max-w-[1000px]"
  >
    <div>
      <h2 className="text-xl font-bold">{brandName}</h2>
      <p className="mt-2 text-sm">
        {brandDescription}
      </p>
    </div>

    {rssLink && <a href={rssLink} className="transition font-bold">RSS</a>}

    <div>
      <h3 className="text-sm font-semibold uppercase mb-3">Legal</h3>
      <ul className="space-y-2 text-sm">
        {legalLinks.map((link) => (
          <li>
            <a href={link.href} className="transition" target={link.target}>
              {link.text}
            </a>
          </li>
        ))}
      </ul>
    </div>

    <div>
      <h3 className="text-sm font-semibold uppercase mb-3">Contact</h3>
      <ul className="space-y-2 text-sm">
        {contactLinks.map((link) => (
          <li>
            <a href={link.href} className="transition" target={link.target}>
              {link.text}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>

  <div className="mt-8 text-center text-xs ">
    © {new Date().getFullYear()} {copyrightName}.
  </div>
</footer>