---
// src/components/Footer.astro
export interface FooterLink {
  text: string;
  href: string;
  target?: '_blank' | '_self' | '_parent' | '_top';
}

export interface FooterProps {
  brandName: string;
  brandDescription: string;
  rssLink?: string;
  legalLinks: FooterLink[];
  contactLinks: FooterLink[];
  copyrightName: string;
}

const { brandName, brandDescription, rssLink, legalLinks, contactLinks, copyrightName } =
  Astro.props as FooterProps;
---

<footer
  class="header-gradient-light header-gradient-dark text-light-text py-10 w-full dark:text-dark-text family flex flex-col items-center justify-center gap-5"
>
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-start gap-8 max-w-[1000px]"
  >
    <div>
      <h2 class="text-xl font-bold">{brandName}</h2>
      <p class="mt-2 text-sm">
        {brandDescription}
      </p>
    </div>

    {
      rssLink && (
        <a href={rssLink} class="transition font-bold">
          RSS
        </a>
      )
    }

    <div>
      <h3 class="text-sm font-semibold uppercase mb-3">Legal</h3>
      <ul class="space-y-2 text-sm">
        {
          legalLinks.map(link => (
            <li>
              <a href={link.href} class="transition" target={link.target}>
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div>
      <h3 class="text-sm font-semibold uppercase mb-3">Contact</h3>
      <ul class="space-y-2 text-sm">
        {
          contactLinks.map(link => (
            <li>
              <a href={link.href} class="transition" target={link.target}>
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <hr class="w-[80%] max-w-[1200px] opacity-15" />

  <div class="mt-2 text-center text-xs">
    © {new Date().getFullYear()}
    {copyrightName}.
  </div>
</footer>
