---
import HeaderLink from './HeaderLink.astro';

type TButtonLink = {
  href: `/${string}`;
  label: string;
};

export interface Props {
  h1: string;
  h2: string;
  button_1: TButtonLink;
  button_2: TButtonLink;
}

const { h1, h2, button_1, button_2 } = Astro.props as Props;
---

<section
  class="w-full hero-gradient-light hero-gradient-dark min-h-[90vh] md:min-h-[75vh] flex items-end justify-center relative"
>
  <div
    class="w-full max-w-4/5 md:max-w-[800px] z-30 relative flex flex-col gap-6 items-center justify-center mb-10"
  >
    <h1
      class="text-light-text dark:text-dark-text text-[40px] md:text-5xl lg:text-[56px] font-extrabold mb-4
         text-center leading-15 md:leading-23"
    >
      {h1}
    </h1>

    <h2
      class="text-light-text dark:text-dark-text opacity-85 text-[1.1rem] md:text-xl mx-auto max-w-[600px] my-4
        mb-8 text-center"
    >
      {h2}
    </h2>

    <div class="flex gap-8 items-center justify-center md:justify-start">
      <HeaderLink href={button_1.href}>
        <button
          class="bg-buttons-bg border-none rounded text-white px-6 py-1 cursor-pointer h-12 hover:shadow-[0_0_10px_rgba(255,255,255,0.3)]
                    transition-colors duration-200 text-[1rem] font-semibold min-w-[130px] inline-flex items-center justify-center"
        >
          {button_1.label}
        </button>
      </HeaderLink>

      <HeaderLink href={button_2?.href}>
        <button
          class="bg-buttons-bg border-none rounded text-white px-6 py-1 cursor-pointer h-12 hover:shadow-[0_0_10px_rgba(255,255,255,0.3)]
                    transition-colors duration-200 text-[1rem] font-semibold min-w-[130px] inline-flex items-center justify-center"
        >
          {button_2?.label}
        </button>
      </HeaderLink>
    </div>
  </div>
</section>
