---
interface Props {
  schemaName: string;
  page: number;
  totalPages: number;
  base?: string;
}

const { page, totalPages, schemaName, base }: Props = Astro.props;
---

<!-- <nav class="flex gap-4 mt-8 pb-4">
  {
    page > 1 && (
      <a
        href={`/${schemaName}/${page - 1}`}
        aria-label="next page"
        class="px-4 py-2 text-light-text dark:text-dark-text border 
            rounded hover:bg-gray-100 dark:bg-buttons-bg/30 dark:hover:bg-buttons-bg/50
             dark:hover:text-white"
      >
        « Previous
      </a>
    )
  }
  {
    page < totalPages && (
      <a
        href={`/${schemaName}/${page + 1}`}
        aria-label="prev page"
        class="px-4 py-2 text-light-text dark:text-dark-text border 
            rounded hover:bg-gray-100 dark:bg-buttons-bg/30 dark:hover:bg-buttons-bg/50
             dark:hover:text-white"
      >
        Next »
      </a>
    )
  }
</nav> -->
<nav class="gap-4 mt-8 pb-4 flex items-center justify-between">
  {
    page > 1 ? (
      <a
        href={!base ? `/${schemaName}/${page - 1}` : `/${base}/${schemaName}/${page - 1}`}
        class="min-w-[80px] min-h-[48px] p-3 text-center font-semibold bg-buttons-bg rounded text-light-bg cursor-pointer"
        aria-label="prev page"
      >
        Prev
      </a>
    ) : (
      <button
        disabled
        aria-label="prev page"
        class="disabled:cursor-not-allowed disabled:opacity-80 p-3 font-semibold
      bg-buttons-bg min-w-[80px] min-h-[48px]  rounded text-light-bg cursor-pointer"
      >
        Prev
      </button>
    )
  }

  <p class="font-semibold text-2xl text-buttons-bg">{page}/{totalPages}</p>

  {
    page < totalPages ? (
      <a
        href={!base ? `/${schemaName}/${page + 1}` : `/${base}/${schemaName}/${page + 1}`}
        class="min-w-[80px] min-h-[48px] p-3 text-center font-semibold bg-buttons-bg rounded text-light-bg cursor-pointer"
        aria-label="next page"
      >
        Next
      </a>
    ) : (
      <button
        aria-label="next page"
        disabled={!(page < totalPages)}
        class="disabled:cursor-not-allowed disabled:opacity-80 p-3
   bg-buttons-bg min-w-[80px] min-h-[48px]  rounded text-light-bg cursor-pointer"
      >
        Next
      </button>
    )
  }
</nav>
