---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import HeaderLink from "./HeaderLink.astro";

type Posts = Awaited<ReturnType<typeof getCollection>>;

interface Props {
    posts: Posts;
    title: string;
    remove_h1?:boolean
}

const slugify = (s: string) =>
    s
        .toLowerCase()
        .replace(/\s+/g, "-")
        .replace(/[^\w-]/g, "");

const { posts, title,remove_h1 }: Props = Astro.props;


const sortedPosts = [...posts].sort((a, b) => {
  const da = new Date(a.data.pubDate).getTime();
  const db = new Date(b.data.pubDate).getTime();
  return db - da; // newer dates (larger timestamps) come first
});

---

<section
    class="w-full flex flex-col items-center max-w-[1200px] mt-20 min-h-screen text-light-text dark:text-dark-text"
>
    { remove_h1 ? <h2 class="text-3xl font-bold mb-6 text-center scroll-animation">{title.toUpperCase()}</h2>:
    <h1 class="text-3xl font-bold mb-6 text-center scroll-animation">{title.toUpperCase()}</h1> }
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full max-w-[900px] px-4">
        {
            sortedPosts.length === 0 && (
                <li class="col-span-full text-center">
                    <p class="font-semibold">No posts found (:</p>
                </li>
            )
        }
        {
            sortedPosts.map((post: any) => (
                <article class="group scroll-animation">
                    <HeaderLink
                        class="flex flex-col  gap-3 items-center" aria-label={`Read more about ${post.data.title}`}
                        href={`/${post.collection}/` + post.id}
                    >
                        {post.data.heroImage && (
                            <div class="overflow-hidden rounded">
                                <Image
                                    class="group-hover:scale-105 transition-all duration-200"
                                    src={post.data.heroImage}
                                    alt={post.data.title}
                                    densities={[1, 2]}
                                    width={400}
                                    height={400}
                                    format="webp"
                                    quality={75}
                                    loading="lazy"
                                    decoding="async"
                                />
                            </div>
                        )}
                        <div class="w-full flex flex-col gap-2 max-w-[400px]">
                            <h2
                                class="font-semibold text-xl transition-all duration-200
                            group-hover:text-blue-600  dark:group-hover:text-buttons-bg"
                            >
                                {post.data.title}
                            </h2>
                            <div class="flex items-center gap-1 text-sm opacity-70 my-1">
                                <time
                                    class="text-sm opacity-90 flex items-center justify-center font-[500]"
                                    datetime="{post.data.pubDate.toISOString()}"
                                    >
                                    <Icon name="mdi:hourglass" />
                                    {post.data.pubDate.toLocaleDateString("en-US", {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                    })}
                                    </time>
                                <span class="opacity-90 font-[500]">•</span>
                                <p class="text-sm opacity-90 font-[500]">
                                    {post.collection.toLowerCase()}
                                </p>
                            </div>
                            <h3 class="opacity-80">{post.data.description}</h3>
                        </div>
                        <div class="flex flex-wrap items-center justify-center py-2 gap-2 w-full">
                            {
                                post.data.tags && post.data.tags.map((tag:string) => {
                                const tagSlug = slugify(tag);
                                return (
                                    <a
                                        class="px-2 py-1 text-xs rounded bg-blue-100 hover:bg-blue-200
                                        dark:bg-buttons-bg/30 dark:hover:bg-buttons-bg/50"
                                        href={`/tags/${tagSlug}/`}
                                    >
                                        {tag}
                                    </a>
                                );
                            })
                            }
                        </div>
                    </HeaderLink>
                </article>
            ))
        }
    </div>
</section>
