---
import { getAllPosts } from '../utils/get_all_posts';
import { collections } from '../collections';
import { Icon } from 'astro-icon/components';

const posts = await getAllPosts();
const total_posts = posts.length;
const total_cat = collections.length;

interface Props {
  title: string;
  text: string;
  total_posts_text: string;
  total_cat_text: string;
}

const { title, text, total_posts_text, total_cat_text } = Astro.props as Props;
---

<section class="text-light-text dark:text-dark-text my-3 px-3">
  <h2 class="text-3xl font-bold mb-6 text-center scroll-animation uppercase px-3 scroll-animation">
    {title}
  </h2>
  <p class="w-full max-w-[900px] text-center my-3 opacity-90 text-xl scroll-animation">
    {text}
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 p-2">
    <div class="flex flex-col items-center justify-center scroll-animation p-3">
      <dd class="text-8xl font-bold text-buttons-bg">{total_posts}</dd>
      <dt class="text-lg font-medium uppercase inline-flex items-center justify-center gap-2">
        <Icon name="mdi:file-document-multiple-outline" class="w-4 h-4" />
        {total_posts_text}
      </dt>
    </div>
    <div
      class="scroll-animation border-t border-t-light-text/20 dark:border-t-dark-text/20
     dark:border-l-dark-text/20 md:border-t-0 md:border-l md:border-l-light-text/20 flex
     flex-col items-center justify-center p-3"
    >
      <dd class="text-8xl font-bold text-buttons-bg">{total_cat}</dd>

      <dt class="text-lg font-medium uppercase inline-flex items-center justify-center gap-2">
        <Icon name="mdi:format-list-bulleted-type" class="w-6 h-6" />
        {total_cat_text}
      </dt>
    </div>
  </div>
</section>
